---
layout: default
---

<header>
    {% include nav.html %}
</header>

<article{% if page.notitle %} class="section"{% endif %}>
    <header>
        <small><time>{{ page.date | date: "%b %-d, %Y" }}</time></small>{% unless page.notitle %}
        <h1>{{ page.title }}</h1>{% endunless %}
    </header>

    {% if page.image %}
    <figure class="full-width cover" style="background-image: url({{ page.image }});">
    </figure>
    {% endif %}

    {{ content }}
</article>

{% if page.notitle %}<style>
    body { border: 10vw solid transparent;}
</style>{% endif %}